body {
      background-image: url("rock-paper-scissors-hi-res-12.jpeg");
      background-size: 100%;
      background-repeat: no-repeat;
}

h1 {
    font-family: Helvetica, sans-serif;
    color: #234954;
    font-size: 100px;
    text-align: center;
    position: relative;
    top: -20px;
    height: 90px;
}

h2 {
    font-family: Helvetica, sans-serif;
    color: #015D7F;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: -50px;
}

.reg {
      font-family: Helvetica, sans-serif;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      color: white;
      display: table;
      margin: 0 auto;
      margin-left: auto;
      margin-right: auto; 
      background-color: #00627F;
      border-radius: 6px;
      border-color: #32BFE8;
      border: 2px solid white;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 12px;
      padding-bottom: 12px;
      top: -100px;
      
}

.registration {
              display: table;
              margin: 0 auto;
              top: -30px;
      
}

.enter_name { 
            font-family: Helvetica, sans-serif;
            text-align: center;
            text-decoration: none;
            font-size: 50px;
            float: left;
            color: #015D7F;
            position: relative;
            top: -50px;
            right: 20px;
            background-color: transparent;
}

.name_text {
            width: 150px;
            height: 50px;
            font-size: 50px;
            padding: 0px;
            border-style: solid;
            border-width: 0px 0px 0px 0px;
            outline: 0;
            color: #0296CC;
            background-color: transparent;
            float: left;
}

.name {
      font-family: Helvetica, sans-serif;
      text-align: center;
      text-decoration: none;
      float: right;
}

.play_button {
              font-family: Helvetica, sans-serif;
              text-align: center;
              text-decoration: none;
              font-size: 20px;
              color: white;
              display: table;
              margin: 0 auto;
              margin-left: auto;
              margin-right: auto; 
              background-color: #00627F;
              border-radius: 6px;
              border-color: #32BFE8;
              border: 2px solid white;
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 12px;
              padding-bottom: 12px;
}

.greeting {
            
            display: table;
            margin: 0 auto;
            top: 100px;
            position: relative;
}

.welcome {
          font-family: Helvetica, sans-serif;
          font-size: 50px;
          color: #015D7F;
          width: 200px;
          height: 60px;
          float: left;
}

.weapon_choice {
                font-family: Helvetica, sans-serif;
                font-size: 50px;
                width: 550px;
                float: right;
                height: 60px;
}

.weapons {
          margin-left: auto;
          margin-right: auto;
          width: 300px;
          top: -200px;

}