<div class="game_text">  
  <p class="welcome">Hi <%= @player.name %>!</p>
  <p class="weapon_choice">Choose your weapon...</p>
</div>
 
<form action="/result" class="weapons" method="post">
  <input type="submit" class="rock_button" name="choice" value="Rock">
  <input type="submit" class="paper_button" name="choice" value="Paper">
  <input type="submit" class="scissors_button" name="choice" value="Scissors">
</form>

