<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="rock_paper_scissors.css"/>
  </head>
  <body>
    <center>
      <header>
        <h1>Rock Paper Scissors</h1>
      </header>
        <%= yield %>
    </center>
  </body>

</html>
