<section class="registration">
  <div class="enter_name">
    <p>Enter your name</p>
  </div>
  <div class="name">
   <form action="/game" method="post">
      <input type="text" class="name_text" name="player_name">
      <input type="submit" value="Play">
    </form>
  </div>
</section>