
<p>You chose <%= @player.choice%> and the computer chose <%=@computer_player.choice%>...</p>
<%= @result %>

<h3>Play again?<h3>

<form action="/game" method="get">
  <input type="submit" value="Yes">
</form>